body{
  background-image: url("https://img.freepik.com/free-vector/gradient-background-with-bokeh-effect_52683-29043.jpg");
  background-repeat: no-repeat;
  background-size: 100vh 100vw;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Example font family */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
